
html{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}



nav{
    color: white;
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    
}

nav>img{
    width: 1280px;
   align-content: center;
   padding: 0%;
}

.nav-links{
    display:grid;
    column-gap: 10px;
    row-gap: 10px;
    gap: 10px;
    grid-template-columns: 400px 200px 200px 200px 200px 200px;
}

#about-me > img{
    max-width: 1280px;
    
   
}
#about-me{
    
}


.banner-img{
    width: 1280px;
    height: auto;
}

.social-icons{
display: grid;
grid-template-columns: 200px 200px 200px;
justify-items: center;
}

.creation-info{
    background-color: rgb(233, 233, 233);
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}


h3:nth-child(3){
    background-color: rgb(233, 233, 233);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 0%;
    text-align: center;
}

#logo-creation{
    background-color: white;
    padding: 10px;
}

#logo-creation>a{
    background-color: black;
    color: white;
    padding: 2%;
}

#web-design{
    background-color: white;
    padding: 10px;
}

#web-design>a{
    background-color: black;
    color: white;
    padding: 2%;
    
}

#branding{
    background-color: white;
    padding: 10px;
}

#branding>a{
    background-color: black;
    color: white;
    padding: 2%;
}

#quotes{
   background-color: black; 
   color: white;
   display: grid;
   grid-template-columns: 1fr 1fr;
}